<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Login</title>
</head>
<body>
    <h1 style="font-family:tahoma ;">Login thành công</h1>
    <h1 style="display: none;" id="token"><%=token%></h1>
    <a style="text-decoration:none ;" href="/">Go Home Page</a> <br>
    <a style="text-decoration:none ;" href="/admin">Go Admin Page</a>

    <script>
         var token = document.getElementById('token').innerText
         document.cookie = `token = ${token}`;
    </script>
</body>
</html>